<div class="selection-card">
    <div class="selection-card-header">
        <p>Select the dates to stay in Charlotte</p>
    </div>
    <div class="selection-card-content">
        <div class="date-selected-container">
            <div class="selected-date">
                <h3>CHECK-IN</h3>
                <p>August
                    <b>13</b>, 2017</p>
            </div>
            <div class="selected-date">
                <h3>CHECK-OUT</h3>
                <p>August
                    <b>13</b>, 2017</p>
            </div>
            <button class="btn btn-orange md">Search hotels</button>
        </div>
        <div class="date-picker-container">
        </div>
    </div>
</div>