/**header*/

.header-background {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: transparent;
    position: absolute;
}

.header{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header a {
    padding: 20px;
    color: white;
    font-family: 'Heebo', sans-serif;
}

@media screen and (max-width: 600px) {
    .header {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    .header a {
        padding: 5px;
    }
}