<!-- <app-hotel-list [hotels]="hotels"></app-hotel-list> -->
<app-header></app-header>
<section class="main-background">
    <div class="main-logo">
        <img src="../assets/img/crown.svg" alt="">
        <p>WELCOME TO</p>
        <h1>CHARLOTTE</h1>
        <p>THE QUEEN CITY</p>
    </div>
</section>
<section class="selection-background">
    <app-hotel-date-selection></app-hotel-date-selection>
</section>
<section>
    <app-hotel-list [hotels]="hotels"></app-hotel-list>
</section>
<app-footer></app-footer>