<!-- <app-hotel-list [hotels]="hotels"></app-hotel-list> -->
<header class="header">
    <a href="">The Queen city</a>
    <a href="">My Reservations</a>
    <a href="">Guide</a>
</header>
<section class="main-background">
    <div class="main-logo">
        <img src="../assets/img/crown.svg" alt="">
        <p>WELCOME TO</p>
        <h1>CHARLOTTE</h1>
        <p>THE QUEEN CITY</p>
    </div>
</section>
<section class="selection-background">
    <div class="selection-card">
        <div class="selection-card-header">
            <p>Select the dates to stay in Charlotte</p>
        </div>
        <div class="selection-card-content">
            <div class="date-selected-container">
                <div class="selected-date">
                    <h3>CHECK-IN</h3>
                    <p>August <b>13</b>, 2017</p>
                </div>
                <div class="selected-date">
                    <h3>CHECK-OUT</h3>
                    <p>August <b>13</b>, 2017</p>
                </div>
                <button class="btn btn-orange">Search hotels</button>
            </div>
            <div class="date-picker-container"></div>
        </div>
    </div>
</section>
<!-- <section></section> -->