<app-header></app-header>
<section class="main-background">
    <div class="main-logo">
        <img src="../assets/img/crown.svg" alt="">
        <p>WELCOME TO</p>
        <h1>CHARLOTTE</h1>
        <p>THE QUEEN CITY</p>
    </div>
</section>
<section class="selection-background">
    <app-date-selection (searchClicked)="selectedDateChanged($event)"></app-date-selection>
</section>
<section>
    <app-hotel-list *ngIf="searchClicked" [hotels]="hotels" (filtersChanged)="filtersChanged($event)"></app-hotel-list>
</section>
<app-footer></app-footer>