<div class="list-container">
    <div class="list-header">
        <p class="title">Best choices between <br> August {{hotelsService.checkin?.number}}, 2017 <br>and<br> August {{hotelsService.checkout?.number}},
            2017</p>
    </div>
    <div class="list-content">
        <div class="list-filters-container">
            <div class="list-filters">
                <div class="filter-header">
                    <div>
                        <p class="title">Filters</p>
                    </div>
                    <div (click)="toggleFilters()">
                        <img src="assets/img/filter.png" class="filter-icon" alt="">
                    </div>
                </div>
                <div *ngIf="showFilters">
                    <app-range-slider min="100" max="600" (valuesChanged)="valueFilterChanged($event)"></app-range-slider>
                    <hr>
                    <app-stars-selection (starsChanged)="starFilterChanged($event)"></app-stars-selection>
                </div>
            </div>
        </div>
        <div class="list-items" *ngIf="hotels.length > 0; else noResults">
            <app-hotel-card *ngFor="let hotel of hotels" [hotel]="hotel"></app-hotel-card>
        </div>
    </div>
</div>


<ng-template #noResults>
        <p style="flex: 2; margin: auto; text-align: center; font-family: 'Heebo', sans-serif; color: #B5B5B5">No results found</p>
</ng-template>