/** list container */
.list-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 80px;
}

/** list content*/

.list-content {
    display: flex;
    flex-direction: row;
}

.list-items {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-filters {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** list header */
.list-header {
    display: flex;
    justify-content: center;
    align-content: center;    
}

.list-header p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
    font-weight: 600;
}