<div class="price-history-container">
    <div class="price-history-header">
        <h3>PRICE HISTORY 2017</h3>
        <div class="back-to-description" (click)="backToDescriptionClicked.emit($event)">
            <img src="assets/img/back-description.svg" alt="">
            <p>Back to description</p>
        </div>
    </div>
    <div class="price-history-content">
        <div class="bar" [tooltip]="'$' + price.value" placement="top" *ngFor="let price of pricesHistory" [style.height.px]="price.value / 3">
        </div>
    </div>
</div>