.price-history-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #D8D8D8;
    margin: 0 15px;
}

.price-history-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-history-header h3 {
    color: #F98100;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

.back-to-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-to-description img {
    height: 15px;
    margin-right: 10px;
}

.back-to-description p {
    color: #555555;
    letter-spacing: px;
    font-weight: regular;
    font-family: 'Heebo', sans-serif;
    font-size: 0.9em;
}

.price-history-content {
    flex: 4;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #D8D8D8;
}

.bar {
    width: 27px;
    background: linear-gradient(#EE6F48, #F98100);
    border-radius: 5px 5px 0 0;
    opacity: 0.7;
}

.bar:hover {
    opacity: 1;
}