<p>Stars</p>

<form>
    <input type="checkbox" id="1star" value="1">
    <label for="1star">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
    </label>
    <input type="checkbox" id="2star" value="2">
    <label for="2star">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
    </label>
    <input type="checkbox" id="3star" value="3">
    <label for="3star">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
    </label>
    <input type="checkbox" id="4star" value="4">
    <label for="4star">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-outline.svg" alt="">
    </label>
    <input type="checkbox" id="5star" value="5">
    <label for="5star">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
        <img src="assets/img/star-filled.svg" alt="">
    </label>
</form>
<br>