<div class="hotel-container shadow">
    <div class="hotel-image-container">
        <div [style.backgroundImage]="'url('+ hotel.image +')'" class="shadow"></div>
    </div>
    <div class="hotel-card-content">
        <app-hotel-description *ngIf="toggle" [hotel]="hotel" [nightsQuantity]="nights" (priceHistoryClicked)="toggleContent()"></app-hotel-description>
        <app-price-history-chart *ngIf="!toggle" [pricesHistory]="hotel.price_history" (backToDescriptionClicked)="toggleContent()"></app-price-history-chart>
    </div>
</div>