.shadow {
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.48);
}

.hotel-container {
    max-width: 900px;
    min-height: 300px;
    width: 50vw;
    height: auto;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
    margin: 30px 0;
}

.hotel-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-image-container div{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-left: -70px;
    background-size: cover;
}

.hotel-card-content {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.hotel-card-content > * {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .hotel-container {
        flex-direction: column;
        width: 95%;
        margin: 10px auto;
        padding: 0;
    }
    
    .hotel-image-container div{
        width: 100%;
        border-radius: 5px 5px 0 0;
        margin-left: 0;
    }
}