.shadow {
    -webkit-box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 40px -7px rgba(0,0,0,0.48);
}

.hotel-container {
    max-width: 900px;
    min-height: 300px;
    width: 50vw;
    height: auto;
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
    margin: 30px 0;
}

.hotel-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotel-image-container div{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-left: -70px;
    background-size: cover;
}

.hotel-card-content {
    flex: 4;
    display: flex;
    flex-direction: row;
}

.hotel-description-container {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: black;
}

.hotel-description-container h3{
    color: #F98100;
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.hotel-description-container p{
    color: #B5B5B5;
    font-family: 'Heebo', sans-serif;
    font-size: 0.8em;
}

.hotel-actions {
    padding: 5px;
}

.hotel-actions button{
    margin: 5px;
}

.hotel-price-container {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #D8D8D8;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
}

.hotel-price-container div{
    padding: 30px;
}

.hotel-price-container p {
    font-family: 'Heebo', sans-serif;
    color: #B2B0C0;
    margin: 5px;
    font-size: 1em;
}

.hotel-price-container h3 {
    font-family: 'Montserrat', sans-serif;
    color: #F98100;
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.hotel-price-container h2 {
    font-family: 'Montserrat', sans-serif;
    color: #79BD1A;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
}

.price-history-container {
    flex: 2;
    display: flex;
    /* align-items: flex-end; */
    /* justify-content: space-between; */
    flex-direction: column;
    border-bottom: 2px solid #D8D8D8;
    margin: 0 15px;
}

.price-history-header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-history-header h3 {
    color: #F98100;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

.back-to-description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.back-to-description img {
    height: 15px;
    margin-right: 10px;
}

.back-to-description p {
    color: #555555;
    letter-spacing: px;
    font-weight: regular;
    font-family: 'Heebo', sans-serif;
    font-size: 0.9em;
}

.price-history-content {
    flex: 4;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 2px solid #D8D8D8;
}

.bar {
    width: 27px;
    background: linear-gradient(#EE6F48, #F98100);
    border-radius: 5px 5px 0 0;
    opacity: 0.7;
}

.bar:hover {
    opacity: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 80px;
    background-color: #484848;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px 12px;
    position: absolute;
    z-index: 1;
    top: -40px;
    right: -100%;
    font-family: 'Heebo', sans-serif;
    color: white
}

.tooltip:hover .tooltiptext {
    visibility: visible;
} 