/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    text-decoration: none;
    border: none;
    background: none;
}

button:focus {
    outline: 0;
}

.btn {
    font-family: 'Heebo', sans-serif;
    font-weight: regular;
    border-radius: 50px;
    cursor: pointer;
}

.sm {
    padding: 6px 16px;
}

.md {
    padding: 12px 33px;
}

.btn-orange {
    border: 1px solid #F98100;
    color: #F98100;
}

.btn-orange:hover {
    background: #F98100;
    color: white;
}

.btn-green {
    background: #79BD1A;
    color: white;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}